@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SARC - <b>S</b>istema de <b>A</b>locação de <b>R</b>ecursos <b>C</b>omputacionais.</h1>
    <p class="lead">Bem vindo ao sistema de alocação de recursos computacionais. A Aplicação tem um objetivo 
    de facilitar a gerencia de recursos computacionais de profissionais da área docente, para que possa
    ser solicitado e alocado da forma mais simples e balanceado entre os profissionais.</p>
    <p><a href="../Home/About.cshtml" class="btn btn-primary btn-large">Contratar &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Quem deve utilizá-lo?</h2>
        <p>
            Profissionais da área docente de uma instituição de ensino, que possam solicitar algum recurso
            computacional, para seu uso.
        </p>
        <br />
    </div>
    <div class="col-md-4">
        <h2>Qual o seu Objetivo?</h2>
        <p>Facilitar a organização entre os Docentes, para que possam administrar suas alocações
        a qualquer instante, podendo solicitar trocas e validar as atribuições além de obter um equilibrio entre
        os profissionais sobre os recursos alocados.</p>
        <br />
    </div>

    <div class="col-md-4">
        <h2>Quero Obter</h2>
        <p>Acesse o site e comece já. A aplicação é totalmente gratuíta e de fácil acesso. Cadastre sua instituição
        e comece a utilizar agora.</p>
    </div>
</div>